body {
  font-family: "Manrope", "Courier", "Monospace";

  .container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
}
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: #121212;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27.32px;
}

h6 {
  font-size: 18px;
  line-height: 24.59px;
  font-weight: 400;
  margin-top: 1px;
}

p1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.ProjectHome {
  width: 600px;
  height: 300px;
  background-size: contain;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-image: url("../styles/resources/ProjectHome.png");
}
.ProjectHome-text-wrapper {
  color: white;
  font-size: 15px;
  padding-right: 250px;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
}

a {
  display: block;
  width: 300px;
  height: 50px;
  border: 5px solid red;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: red;
  margin-top: 20px;
}

a:hover {
  color: #121212;
  background-color: red;
}
